{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Biere list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Degre</th>
				<th>Description fr</th>
				<th>Description en</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('biere_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.degre }}</td>
				<td>{{ entity.descriptionfr }}</td>
				<td>{{ entity.descriptionen }}</td>
                <td>{{ entity.image }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('biere_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('biere_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('biere_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
