{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Biere</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Degre</th>
                <td>{{ entity.degre }}</td>
            </tr>
            <tr>
                <th>description_fr</th>
                <td>{{ entity.description_fr }}</td>
            </tr>
            <tr>
                <th>description_en</th>
                <td>{{ entity.description_en }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('biere') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('biere_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
