<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Biere-a-lille{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}" type="text/css" />
		{% endblock %}

		{% block javascripts %}
			<script type="text/javascript" src = "{{ asset('js/jquery-1.11.2.min.js')}}"></script>
			<script type="text/javascript" src = "{{ asset('js/bootstrap-select.min.js')}}"></script>	
			<script type="text/javascript" src = "{{ asset('js/bootstrap.js')}}"></script>
		{% endblock %}
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
