{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Bar edit</h1>

		<table class="table table-hover">
		<tr>
			<td>
				<strong>{{ form_label(edit_form.nom) }} :</strong>
			</td>
			<td>
				{{ form_widget(edit_form.nom) }}
			</td>
		</tr>
		<tr>
			<td>
				<strong>{{ form_label(edit_form.image) }} :</strong>
			</td>
			<td>
				{{ form_widget(edit_form.image) }}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Description :</strong>
			</td>
			<td>
				{{ form_widget(edit_form.descriptionFr) }}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Bières :</strong>
			</td>
			<td>
				{{ form_widget(edit_form.bieres) }}
			</td>
		</tr>
	</table>
	
	<br>
	{{ form_widget(edit_form.save, { 'label': 'Editer' }) }}
	<br>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bar') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<script type="text/javascript">
$(document).ready(function() {
	$( "select" ).attr( "data-live-search", "true" );
    $('select').selectpicker();
});
</script>
{% endblock %}
