{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Bar list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Descriptionfr</th>
                <th>Descriptionen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bar_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.descriptionFr }}</td>
                <td>{{ entity.descriptionEn }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bar_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bar_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('bar_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
