{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Bar creation</h1>

	<form class="form-horizontal" action="{{ path('bar_create') }}" method="post" {{ form_enctype(form) }}>
		<table class="table table-hover">
			<tr>
				<td>
					<strong>{{ form_label(form.nom) }} :</strong>
				</td>
				<td>
					{{ form_widget(form.nom) }}
				</td>
			</tr>
			<tr>
				<td>
					<strong>{{ form_label(form.image) }} :</strong>
				</td>
				<td>
					{{ form_widget(form.image) }}
				</td>
			</tr>
			<tr>
				<td>
					<strong>Description :</strong>
				</td>
				<td>
					{{ form_widget(form.descriptionFr) }}
				</td>
			</tr>
			<tr>
				<td>
					<strong>Bières :</strong>
				</td>
				<td>
					{{ form_widget(form.bieres) }}
				</td>
			</tr>
		</table>

	</br>
	
	<button type="submit" class="btn btn-success col-sm-offset-1">Créer</button>
	{{ form_widget(form._token) }}
	
	<a href="{{ path('bar') }}" class="btn btn-primary col-sm-offset-1">Retour à la liste</a>

</form>

<script type="text/javascript">
$(document).ready(function() {
	$( "select" ).attr( "data-live-search", "true" );
    $('select').selectpicker();
});
</script>
{% endblock %}
