{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Model\Bar</h1>

	<table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Descriptionfr</th>
                <td>{{ entity.descriptionFr }}</td>
            </tr>
            <tr>
                <th>Descriptionen</th>
                <td>{{ entity.descriptionEn }}</td>
            </tr>
            <tr>
                <th>Bieres</th>
					<td>
						{% for biere in entity.bieres %}
							<ul>{{ biere.nom }}</ul>
						{% endfor %}
					</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bar') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bar_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
